header {
    background-color: #f4ebe2;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
}

.header-title {
    flex: 1; 
}

.header-links {
    display: flex;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #57350e;
}

a {
    color: #57350e; 
    text-decoration: none; 
    font-weight: bold;
}

a:visited {
    color: #57350e;
}

body{
    background-color: #57350e;
}

.logo{
    width: 90px;
    height: 90px;
}

.riito{
    margin-top: 26px;
    width: 30px;
    height: 30px;
}

@font-face {
    font-family: 'Tan Nimbus';
    src: url(./TAN-NIMBUS.otf) format('truetype');
}

h1 {
    font-family: 'Tan Nimbus', sans-serif;
}

.hover {
    background-color: #57350e;
    color: #f4ebe2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
    width: 55px;
    text-align: center;
}

.hover:hover {
    transform: scale(1.1);
}

.hovermessi {
    background-color: #57350e;
    color: #f4ebe2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
    width: 85px;
    text-align: center;
    margin-left: 10px;
}

.hovermessi:hover {
    transform: scale(1.1);
}

.contenedorAccesorios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.ropaAccesorios{
    width: 400px;   
    height: 500px;
    background-color: #f4ebe2;
    margin-top: 20px;
    text-align: center;
}

.imgAccesorios{
    text-align: center;
}

.imgAccesorios{
    width: 80%;
    height: 275px;
    
}

.listas{
    list-style: none;
}

.botonAccesorios{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    
}