header {
    background-color: #f4ebe2;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
}

.header-title {
    flex: 1; 
}

.header-links {
    display: flex;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #57350e;
}

a {
    color: #57350e; 
    text-decoration: none; 
    font-weight: bold;
}

a:visited {
    color: #57350e;
}

body{
    background-color: #57350e;
}

.logo{
    width: 90px;
    height: 90px;
}

.riito{
    margin-top: 26px;
    width: 30px;
    height: 30px;
}

@font-face {
    font-family: 'Tan Nimbus';
    src: url(./TAN-NIMBUS.otf) format('truetype');
}

h1 {
    font-family: 'Tan Nimbus', sans-serif;
}

.hover {
    background-color: #57350e;
    color: #f4ebe2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
    width: 55px;
    text-align: center;
}

.hover:hover {
    transform: scale(1.1);
}

h2{
    background-color: #f4ebe2;
    color: #57350e;
    text-align: center;
    font-size: 45px;
}

.descripción{
    background-color: #f4ebe2;
    width: 500px;
    height: 500px;
    text-align: center;
}

.taiofrers{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px; 
}

.ivanfrers{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
}

.helefrers{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
}

.imgproductos{
    width: 500px;
    height: 500px;
}

footer{
    background-color: #f4ebe2;
}

.hovermessi {
    background-color: #57350e;
    color: #f4ebe2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
    width: 85px;
    text-align: center;
    margin-left: 10px;
}

.hovermessi:hover {
    transform: scale(1.1);
}

