header {
    background-color: #f4ebe2;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
}

.header-title {
    flex: 1; 
}

.header-links {
    display: flex;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #57350e;
}

a {
    color: #57350e; 
    text-decoration: none; 
    font-weight: bold;
}

a:visited {
    color: #57350e;
}

body{
    background-color: #57350e;
}

.logo{
    width: 100px;
    height: 100px;
}

.riito{
    margin-top: 15px;
    width: 25px;
    height: 25px;
}