header {
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
}

.header-title {
    flex: 1; 
}

.header-links {
    display: flex;
    gap: 20px;
}

h1 {
    text-align: center;
    color: blue;
}

a {
    color: red; 
    text-decoration: none; 
}

a:visited {
    color: red;
}
